body
	font-family: Arial

h1
	text-align: center
	border-bottom-style: solid
	border-bottom-color: black
	border-bottom-width: 1px

label
	display: block
	font-weight: bold

input[type="text"], button
	width: 100%
	border-style: solid
	border-color: black
	border-width: 1px
	border-radius: 5px
	padding: 5px
	background-color: white

button
	margin-top: 5px
	cursor: pointer

input[type="checkbox"] + i + label
	display: inline

i.fa-exclamation-triangle
	color: yellow

i.fa-exclamation-circle
	color: red
